.tg  {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#999;
    table-layout: fixed;
    width: 200%;
}
.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#999;
    color:#444;
    background-color:#D2E4FC;
}
.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#999;
    color:#fff;
    background-color:#26ADE4;
}
.tg .tg-hmp3{
    background-color:#F7FDFA;
    text-align:center;
    vertical-align:middle;
}
.tg .tg-0lax{
    text-align:center;
    vertical-align:middle;
}
.tg .tg-z6g2{
    font-size:14px;
    font-family:"Times New Roman", Times, serif !important;;
    border-color:inherit;
    text-align:center;
    vertical-align: middle;
}
@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }
    .tg col {
        width: auto !important;
    }
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
